
table.line {
	padding: 4px 6px;
	border-collapse: collapse;
	border:2px solid rgb(48,48,48);
}

table.line th {
	border:1px solid rgb(144,144,144);
	background-color:rgb(252,252,252);
	padding: 4px 6px;
	font-size:12px;
	color:rgb(48,48,48);
}

table.line td {
	border:1px solid rgb(144,144,144);
	padding: 4px 6px;
	font-size:12px;
}

.date{
	background-color: #EFEFEF;
	color: #483D8B;
	padding: 4px;
}
.start_date{
	color: rgb(0,51,255);
}
.end_date{
	color: rgb(153,0,0);
}
.button{
	padding:5px;
	font-size:11pt;
}

/************************** 表單表格樣式 **************************/

/* 有表單的表格樣式 */
table.form_tbl {
	width: auto;
	padding: 8px;
	border-collapse: collapse;
}
/* 有表單的儲存格樣式 */
table.form_tbl td {
	padding: 3px;
}
/* 有表單的「表單標題」儲存格樣式 */
table.form_tbl td.form {
	font-weight: bold;
	font-size: 110%;
	background-color: #efefef;
	color: rgb(127,0,0);
	text-align: center;
}
/* 有表單的「標題」儲存格樣式 */
table.form_tbl td.title {
	background-color: transparent;
	color: rgb(0,0,0);
	text-align: right;
	padding: 4px 4px 4px 20px;
	vertical-align: middle;
	border-bottom: 1px dotted rgb(150,150,150);
}
/* 有表單的「輸入欄位」儲存格樣式 */
table.form_tbl td.col {
	padding: 4px 6px 4px 6px;
	background-color: transparent;
	border-bottom: 1px dotted rgb(200,200,200);
}
/* 有表單的「工具列」儲存格樣式 */
table.form_tbl td.bar {
	text-align: center;
	color: rgb(0,0,153);
	background-color: #e3e3e3;
}

/* 有表單的「說明」儲存格樣式 */
table.form_tbl td.note {
	font-size: 11pt;
	background-color: #F5FFFA;
	color: #4682B4;
	padding: 6px;
	line-height:180%;
}

/* 有表單的「欄位」儲存格樣式 */
table.form_tbl td.show_col {
	background-color: #FCFCFC;
	padding: 6px 0px 6px 24px;
}


/* 有表單的「說明」儲存格樣式 */
div.q_col {
	padding: 6px 2px 6px 2px;
	border-top:1px dotted gray;
	border-bottom:1px dotted gray;
}


/* 「說明」儲存格樣式 */
.note {
	color: rgb(102,102,51);
}

/* 「題目」儲存格樣式 */
.question {
	color: rgb(153,0,0);
	font-weight: bolder;
	font-size: 16px;
}


/************************** 一般表格樣式 **************************/

/* 表格樣式 */
table#tbl{
	width: auto;
	padding: 8px;
	border-collapse: collapse;
}

/* 標題儲存格樣式 */
table#tbl th {
	padding: 5px;
	border-bottom: 1px solid rgb(192,192,192);
	background-color: rgb(96,96,96);
	text-align: center;
	vertical-align: middle;
}

/* 儲存格樣式 */
table#tbl td {
	padding: 5px;
	border-bottom:1px solid rgb(192,192,192);
	background-color: rgb(255,255,255);
	vertical-align: middle;
}

table#tbl td.center {
	text-align: center;
}

table#tbl td.bar {
	text-align: center;
	color: rgb(0,0,153);
	background-color: rgb(245,245,245);
}


/************************** 3D圓角樣式 **************************/

/*  立體圓角框  */
.raised {
	background: transparent;
	width: auto;
	margin:20px;
}
.raised h1, .raised p {
	margin: 0 10px;
}
.raised h1 {
	color: rgb(51,102,255);
	margin-bottom: 5px;
	font-size:2em;
}

.raised p {
	padding-bottom: 0.5em;
}
.raised .b1, .raised .b2, .raised .b3, .raised .b4, .raised .b1b, .raised .b2b, .raised .b3b, .raised .b4b {
	display: block;
	overflow: hidden;
	font-size: 1px;
}
.raised .b1, .raised .b2, .raised .b3, .raised .b1b, .raised .b2b, .raised .b3b {
	height: 1px;
}
.raised .b2 {
	background: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #eee;
}
.raised .b3 {
	background: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #ddd;
}
.raised .b4 {
	background: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #aaa;
}
.raised .b4b {
	background: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #999;
}
.raised .b3b {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #999;
}
.raised .b2b {
	background: #fff;
	border-left: 1px solid #aaa;
	border-right: 1px solid #999;
}
.raised .b1 {
	margin: 0 5px;
	background: #fff;
}
.raised .b2, .raised .b2b {
	margin: 0 3px;
	border-width: 0 2px;
}
.raised .b3, .raised .b3b {
	margin: 0 2px;
}
.raised .b4, .raised .b4b {
	height: 2px;
	margin: 0 1px;
}
.raised .b1b {
	margin: 0 5px;
	background: #999;
}
.raised .boxcontent {
	display: block;
	background: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #999;
	background-image: url(images/panel.jpg);
	background-repeat: repeat-x;
	padding: 10px 25px 10px 25px;
}


/*  內嵌圓角框  */
.inset {
	background: transparent;
	width: auto;
	margin:20px;
}
.inset h1, .inset p {
	margin: 0 10px;
}
.inset h1 {
	color: rgb(51,102,255);
	margin-bottom: 5px;
	font-size:2em;
}
.inset p {
	padding-bottom: 0.5em;
}
.inset .b1, .inset .b2, .inset .b3, .inset .b4, .inset .b1b, .inset .b2b, .inset .b3b, .inset .b4b {
	display: block;
	overflow: hidden;
	font-size: 1px;
}
.inset .b1, .inset .b2, .inset .b3, .inset .b1b, .inset .b2b, .inset .b3b {
	height: 1px;
}
.inset .b2 {
	background: #ccc;
	border-left: 1px solid #999;
	border-right: 1px solid #aaa;
}
.inset .b3 {
	background: #ccc;
	border-left: 1px solid #999;
	border-right: 1px solid #ddd;
}
.inset .b4 {
	background: #ccc;
	border-left: 1px solid #999;
	border-right: 1px solid #eee;
}
.inset .b4b {
	background: #fff;
	border-left: 1px solid #aaa;
	border-right: 1px solid #fff;
}
.inset .b3b {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
}
.inset .b2b {
	background: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #fff;
}
.inset .b1 {
	margin: 0 5px;
	background: #999;
}
.inset .b2, .inset .b2b {
	margin: 0 3px;
	border-width: 0 2px;
}
.inset .b3, .inset .b3b {
	margin: 0 2px;
}
.inset .b4, .inset .b4b {
	height: 2px;
	margin: 0 1px;
}
.inset .b1b {
	margin: 0 5px;
	background: #fff;
}
.inset .boxcontent {
	display: block;
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #fff;
	background-image: url(images/panel.jpg);
	background-repeat: repeat-x;
	padding: 10px 25px 10px 25px;
}

/*  白底灰圓角框  */

.corners {
	background: transparent;
	width: auto;
	margin:20px;
}
.corners h1, .inset p {
	margin: 0 10px;
}
.corners h1 {
	color: rgb(51,102,255);
	margin-bottom: 5px;
	font-size:2em;
}
.corners p {
	padding-bottom: 0.5em;
}

.corners .b1, .corners .b2, .corners .b3, .corners .b4, .corners .b1b, .corners .b2b, .corners .b3b, .corners .b4b {
	display: block;
	overflow: hidden;
	font-size: 1px;
}
.corners .b1, .corners .b2, .corners .b3, .corners .b1b, .corners .b2b, .corners .b3b {
	height: 1px;
}
.corners .b2 {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b3 {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b4 {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b4b {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b3b {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b2b {
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.corners .b1 {
	margin: 0 5px;
	background: #999;
}
.corners .b2, .corners .b2b {
	margin: 0 3px;
	border-width: 0 2px;
}
.corners .b3, .corners .b3b {
	margin: 0 2px;
}
.corners .b4, .corners .b4b {
	height: 2px;
	margin: 0 1px;
}
.corners .b1b {
	margin: 0 5px;
	background: #999;
}
.corners .boxcontent {
	display: block;
	background: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	background-repeat: repeat-x;
	padding: 5px 10px 5px 10px;
}
