<{$bootstrap}>
<{$jquery}>
<div class="row-fluid">
  <div class="span12">
    <{$toolbar}>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
<{if $op=="sign"}>

  <{$jquery}>
  <script type="text/javascript">
  function check_data(){
  	<{$needfill_js}>
  	<{$chk_emeil_js}>
  	return true;
  }
  </script>
  <h1><{$form_title}></h1>

  <form action="index.php" method="post" name="myForm" id="myForm" enctype="multipart/form-data" onSubmit="return check_data()">
  	<table class="table table-striped">
  	<tr><td><{$form_content}></td></tr>
  	<{$apply_ok}>
  	<{$main_form}>
  	</table>
  	
  	<input type="hidden" name="ssn" value="<{$db_ans_ssn}>">
  	<input type="hidden" name="ofsn" value="<{$ofsn}>">
  	<input type="hidden" name="op" value="save_val">
  	<p>
    	<{$captcha_div}>
    	<{$smarty.const._MD_TADFORM_MAN_NAME}> : <input type="text" name="man_name" id="tfman_name" size=10 value="<{$uid_name}>">
    	<{$smarty.const._MD_TADFORM_EMAIL}> : <input type="text" name="email" id="tfemail" size=30 value="<{$email}>">
    	<input type="submit" name="submit" class="btn" value="<{$smarty.const._MD_TADFORM_SUBMIT_FORM}>">
    </p>
	</form>
  <{$captcha_js}>
	<div style="border-top:1px dotted gray;padding-top:6px;"><img src="images/star.png" alt="<{$smarty.const._MD_TADFORM_NEED_SIGN}>" hspace=3 align=absmiddle><{$smarty.const._MD_TADFORM_IS_NEED_SIGN}></div>

  <{if $history}>
  	<script>
  	function delete_fill(ssn){
  		var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
  		if (!sure)	return;
  		location.href="index.php?op=delete_fill&ofsn=<{$ofsn}>&ssn=" + ssn;
  	}
  	</script>
	<div class="well" style="margin-top:30px;">
	<h3><{$smarty.const._MD_TADFORM_HISTORY}></h3>
	<table class="table table-striped">
	<{foreach item=history from=$history}>
	<tr>
		<td><{$history.fill_time}></td>
		<td><{$history.man_name}></td>
		<td class="text-right">
		<a href="javascript:delete_fill(<{$history.ssn}>)" class="btn btn-mini btn-danger"><{$smarty.const._TAD_DEL}></a>
		<a href="<{$xoops_url}>/modules/tad_form/index.php?op=sign&ssn=<{$history.ssn}>" class="btn btn-mini btn-warning"><{$smarty.const._TAD_EDIT}></a>
		</td>
	</tr>
	<{/foreach}>
	</table>
	</div>
  <{/if}>
  <div class="pull-right"><{$tool}></div>
  
  
<{elseif $op=="error"}>

  <div class="hero-unit">
    <h3><{$title}></h3>
    <p><{$msg}></p>
  </div>

<{elseif $op=="view"}>

  <h1><{$form_title}></h1>
  <table <{$tbl_set}>>
	<{$content}>
  <{foreach item=q from=$all}>
  	<tr>
      <td <{$q.td_set}>><{$q.i}>. <b><{$q.title}></b></td>
  		<td><{$q.val}></td>
    </tr>
  <{/foreach}>
	</table>
  <div class="text-center">
  <{if $show_report}><a href="report.php?ofsn=<{$ofsn}>" class="btn btn-info"><{$smarty.const._MD_TADFORM_VIEW_FORM}></a><{/if}>
  <a href="index.php?op=sign&ofsn=<{$ofsn}>" class="btn btn-success"><{$smarty.const._MD_TADFORM_BACK_TO_FORM}></a>
  </div>
<{else}>

  <{foreach item=form from=$all}>
    <div class="well well-small">
      <div class="pull-right"><{$form.multi_sign}><span class="label"><{$form.date}></span></div>
      <h3><{$form.title}></h3>
    	
      <{$form.content}>
      <div class="text-center">
    		<a href="index.php?op=sign&ofsn=<{$form.ofsn}>" class="btn btn-large btn-block btn-primary"><{$form.button}></a>
      </div>
  	</div>
  <{/foreach}>

<{/if}>
  </div>
</div>