<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />

<script>
	function delete_tad_form_main_func(ofsn){
		var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
		if (!sure)	return;
		location.href="main.php?op=delete_tad_form_main&ofsn=" + ofsn;
}
</script>
<table class="table table-striped">
  <tr>
    <th><{$smarty.const._MA_TADFORM_OFSN}></th>
    <th><{$smarty.const._MA_TADFORM_TITLE}></th>
    <th><{$smarty.const._MA_TADFORM_RESULT}></th>
    <th><{$smarty.const._MA_TADFORM_START_DATE}></th>
    <th><{$smarty.const._MA_TADFORM_END_DATE}></th>
    <th><{$smarty.const._TAD_FUNCTION}></th>
    <th><{$smarty.const._MA_TADFORM_COL_NUM}></th>
    <th><{$smarty.const._MA_TADFORM_OPTIONS}></th>
  </tr>
<tbody>

<{foreach item=form from=$form}>
  <tr>
		<td><{$form.ofsn}></td>
		<td><{$form.enable_tool}> <a href="../index.php?op=sign&ofsn=<{$form.ofsn}>"><{$form.title}></a></td>
		<td>
      <a href="result.php?ofsn=<{$form.ofsn}>" class="btn btn-mini btn-info"><{$form.counter}></a>
  		<a href="excel.php?ofsn=<{$form.ofsn}>" class="btn btn-mini btn-info">Excel</a>
  		<a href="mail.php?ofsn=<{$form.ofsn}>" class="btn btn-mini btn-info">mail</a>
  		<{$form.show_result_pic}>
  		<{$form.multi_sign_pic}>
		</td>
		<td><{$form.start_date}></td>
		<td><{$form.end_date}></td>
		<td>
  		<a href="main.php?op=copy&ofsn=<{$form.ofsn}>" class="btn btn-mini btn-success"><{$smarty.const._MA_TADFORM_COPY_FORM}></a>
  		<a href="javascript:delete_tad_form_main_func(<{$form.ofsn}>);" class="btn btn-mini btn-danger"><{$smarty.const._TAD_DEL}></a>
  		<a href="add.php?op=tad_form_main_form&ofsn=<{$form.ofsn}>" class="btn btn-mini btn-warning"><{$smarty.const._TAD_EDIT}></a>
		</td>
		<td class="text-center"><{$form.cols_num}></td>
		<td>
  		<a href="add.php?op=edit_opt&ofsn=<{$form.ofsn}>" class="btn btn-mini btn-info"><{$smarty.const._TAD_ADD}></a>
      <a href="add.php?op=edit_all_opt&ofsn=<{$form.ofsn}>" class="btn btn-mini btn-warning"><{$smarty.const._TAD_EDIT}></a>
    </td>
	</tr>
<{/foreach}>
<tr>
<td colspan=8><{$bar}></td></tr>
</tbody>
</table>